<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="memberMapper">
  <!-- namespace : 해당 mapper 파일의 고유한 별칭 -->
  
  <!-- 
  		* DML문 일 경우
  		<insert|update|delete id="각sql문 식별자" [parameterType="전달받을 타입(풀클래스명)|별칭"]>
  		
  		
  		</insert|update|delete>
  		// DML문 같은경우 어차피 실행결과가 처리된 행수(int)이기 때문에 resultType 또는 resultMap에 대한 속성 필요 없음
  		
  		* SELECT문 일 경우
  		<select id="각sql문 식별자" [parameterType="전달받을 타입(풀클래스명)|별칭"] 
  							resultType="조회결과를 반환하고자 하는 자바타입" | resultMap="조회결과를 뽑아서 매핑할 resultMap">
  							resultType="_int,_string...."
  				*별칭하려면 마이바티스-컨피크에서 <typeAlias type="com.kh.mybatis.member.model.vo.Member" alias="Member"/> 세팅해야함
  		
  		</select>
  		
  		? 대신에 sql문에 전달된 객체로부터 값을 꺼낼때 #{필드명 또는 변수명 또는 키값} 이용
   -->
   
   <!-- 
   		*resultMap 마이바티스이 핵심 기능 중 하나!
   		ResultSet으로 부터 조회된 컬럼값 하나씩 뽑아서 내가 지정한 vo객체에 각 필드에
   		담는(맵핑) 역활 수행
   		=> JDBC 코드를 줄여주는 역활 수행
   		
   		<resultMap id="식별자(원하는 아이디)" type="조회결과를 담아서 반환하고자 하는 vo객체의 타입(풀클래스명)|별칭">
   			<result column="조회결과를 뽑고자 하는 DB컬럼명" property="해당 결과를 담고자 하는 필드명" />
   			<result column="조회결과를 뽑고자 하는 DB컬럼명" property="해당 결과를 담고자 하는 필드명" />
   			<result column="조회결과를 뽑고자 하는 DB컬럼명" property="해당 결과를 담고자 하는 필드명" />
   			<result column="조회결과를 뽑고자 하는 DB컬럼명" property="해당 결과를 담고자 하는 필드명" />
   		</resultMap>
    -->
   
  	<insert id="insertMember" parameterType="Member">
	  insert
	  into member
	  (
	    USER_NO
	  , USER_ID
	  , USER_PWD
	  , USER_NAME
	  , EMAIL
	  , BIRTHDAY
	  , GENDER
	  , PHONE
	  , ADDRESS
	  )
	  values
	  (
	    seq_uno.nextval
	  , #{userId}
	  , #{userPwd}
	  , #{userName}
	  , #{email}
	  , #{birthday}
	  , #{gender}
	  , #{phone}
	  , #{address}
	  )
  	</insert>
  	
  	<resultMap type="Member" id="memberResultSet">
  		<result column="USER_NO" property="userNo"/>
  		<result column="USER_ID" property="userId"/>
  		<result column="USER_PWD" property="userPwd"/>
  		<result column="USER_NAME" property="userName"/>
  		<result column="EMAIL" property="email"/>
  		<result column="BIRTHDAY" property="birthday"/>
  		<result column="GENDER" property="gender"/>
  		<result column="PHONE" property="phone"/>
  		<result column="ADDRESS" property="address"/>
  		<result column="ENROLL_DATE" property="enrollDate"/>
  		<result column="MODIFY_DATE" property="modifyDate"/>
  		<result column="STATUS" property="status"/>
  	</resultMap>
  	
  	
  	
  	
  	<select id="loginMember" resultMap="memberResultSet" parameterType="Member">
  	select 
	      USER_NO
	    , USER_ID
	    , user_pwd
	    , user_name
	    , email
	    , birthday
	    , gender
	    , phone
	    , address
	    , enroll_date
	    , modify_date
	    , STATUS
	from member
	where user_id = #{userId}
	and user_pwd = #{userPwd}
	and status = 'Y'
  	</select>
  </mapper>
